<% @my_colors = ["#fffccc", "#ffaaee", "#ccccee", "#ccffcc"]%>
<br />

  <h2 style="color:#ffffff"> Your Favorite Boards </h2>
<div class="ui cards">
  <% @boards.each do |board| %>
    <% if board.favorite == true %>

    <div class="ui card" style="background-color:<%= @my_colors.sample %>">
      <div class="content">
        <a class="description">
          <h3><%= link_to board.title, board_path(board) %> <i class="ui yellow star icon"></i></h3> 
            
        </a>
      </div>
      <br />
      <br />
    </div>
    <% end%>
  <% end %>
</div>


  <h2 style="color:#ffffff"> Your Boards </h2>
  <div class="ui cards">
    <% @boards.each do |board| %>
      <% if board.favorite != true %>
      <div class="ui card" style="background-color:<%= @my_colors.sample %>">
        <div class="content">
          <a class="description">
            <h3><%= link_to board.title, board_path(board) %></h3>
          </a>
        </div>
        <br />
        <br />
      </div>
      <% end%>
    <% end %>
        <div id="link_new" class="ui card" style="background-color: #313639; opacity: 0.6;">
          <div class="content">
            <h3><%= link_to 'Create a new Board...', new_board_path %></h3>
          </div>
        </div>
  </div>





