<h1>Add Board</h1>
<%= form_with(model: @board, local: true) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, required: true, placeholder: "title" %>
  </div>
  <div class="field">
    <%= f.label :favorite %>
    <%= f.check_box :favorite %>
  </div>
  <%= f.submit %>
<% end %>
