<% @my_colors = ["#fffccc", "#ffaaee", "#ccccee", "#ccffcc"]%>

<h1>Boards#show</h1>

<div class="ui container" style="background-color:<%= @my_colors.sample %>">
  <div class="ui labeled icon menu">
    <div class="item">
      <h1><%= @board.title %> 
    </div>
    <div class="ui item">
      <i class="ui star outline icon"></i>
    </div>
    <div class="ui item">
      <%= link_to @board, method: :delete do %>
        <i class="ui trash red icon huge"></i>
      <% end %>
    </div>
    <div class="ui item">
    <%= link_to new_board_list_path(@board) do %>
    <i class="ui plus icon huge"></i>
    <% end %>
    </div>
  </div>
  <div class="ui cards">
    <% @board.lists.each do |list| %>
      <div class="ui centered card">
        <div class="content">
          <div class="header">
            <%= link_to list.title, board_lists_path(@board) %> 
            <%= link_to 'Delete', list, method: :delete %>
          </div>
          <div class="meta">
            <%= list.created_at %>
          </div>
          <div class="description">
            <% list.cards.each do |card| %>
            <div class="ui segment">
            <%= card.title %>
            <%= link_to [@list, card], method: :delete do %>
              <i class="ui trash icon"></i>
            <% end %>
            </div>
            <% end %>
            <div class="ui segment">
              <%= link_to '+ Add a Card', new_list_card_path(list, @card) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
   
  </div>
</div>

